<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="{{url_for('static', filename = 'Styles.css')}}"  rel="stylesheet" media="all"/>
    <title="Log in"/>

  </head>
  <body>
    <h1 class="titles">Log in</h1>
    <form class="login" method="post">
      {{form.login.label}}
      {{form.login()}}
      <br>
      {{form.password.label}}
      {{form.password()}}
      {%if error%}
      <p>{{error}}</p>
      {%endif%}
      <br>
      {{form.submit()}}
      {{ form.csrf_token }}
    </form>
    <a href="{{url_for('sign_up')}}">Sign up</a>
  </body>
</html>
