body{
  font-family: Calibri;

}
.submit{
  background-color: #4bd04f ;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 20px;
}
.submit:hover{
  background-color: #8aef8d
}
input{
  border: 2px solid #eae1e1;
  border-radius: 5px;
}
.del{
  background-color: DeepSkyBlue;
  border-radius: 0 5px 5px 0;
  padding-bottom: 4px;
  padding-top: 7px;
  color: white;
  border: none;
  cursor: pointer;
}
.del:hover {
    background-color: DodgerBlue;
}
#interests{
  margin: 0px, 5px, 5px, 5px;
  padding: 1px;
  background: Gainsboro;
  border-radius: 5px;
  display: inline-block;
}

.titles{
  margin: auto;
  text-align: center;
  font-family:cursive;
  font-size: 50px;
}

.login{
  margin: auto;
  text-align: center;
}

.stack-horz
{
  color: white;
  height: auto;
  margin: 5px;
  padding-left: 4px;
  background-color: DeepSkyBlue ;
  display: inline-block;
  border-radius: 5px;
}
