body, h1, h2, p, div, img, button{
	margin:0px;
	padding:0px;
	font-family:Arial;
}
.main1{
	background:url('images/bg1.jpg');
	background-size:cover;
	/* масштабирует изобр. по оси х и у */
	background-repeat:no-repeat;
	/* не дублирует картинку */
	min-height:550px;
	text-align:center;
	color:white;
}
/* */
.block{
	width:800px;
	
	position:relative;
	margin:0 auto;
}
.logo{
	width:100px;
	position:absolute;
	top:20px;
	left:25px;
}
.vhod{
	position:absolute;
	top:20px;
	right:20px;
	padding:5px 15px;
	background:none;
	border:2px solid white;
	border-radius:10px;
	color:white;
}
.main1 h1{
	padding:150px 20px 20px 20px;
}
.main1 h2{
	font-weight:normal; /* убираем жирный шрифт */
	font-style:italic; /* делем курсив */
	font-size:18px;
}
.now{
	background:#58cdda;
	padding:10px;
	font-size:24px;
	color:#353131;
	box-shadow:0 0 15px rgba(4, 4, 4, 0.7);
	/* box-shadow:0 5px 0 5px red; */
	/* добавляем тень и указываем ее цвет и прозрачность */
	text-shadow:1px 1px 10px white;
	border-radius:5px;
	margin-top:20px;
	border:2px inset white;
}
.now:hover{
	border:2px outset white;
	background::#353131;
}
.icon{
	display:inline-block;
	width:200px;
	padding-top:40px;
	margin:0 30px;
}
.main1 p{
	padding:20px;
}
.main2{
	text-align:center;
	padding:50px 0;
	/* height:400px; */
	}
.black{
	/* width:550px; */
	/* height:300px; */
	/* background:black; было для визуализации места видео */
	/* margin:0 auto; */
}
.main2 h2{
	padding-bottom:30px;
}
.gray{
	background:gray;
	text-align:center;
	color:white;
	height:150px;
}
.icon2{
	display:inline-block;
	width:200px;
	padding-top:30px;
	margin:0 30px;
}
.main3 img{
	width:380px;
	/* float:left; */
	/* margin-top:20px; */
}
.main3{
	background:#e4e4e4;
	padding:50px;
}
.textblock{
	position:absolute;
	top:20px;
	left:450px;
	width:350px;
}
.main4 img{
width:380px;}
.main4{
	background:white;
	padding:50px;
}
.main5 img{
width:380px;}
.main5{
	background:#e4e4e4;
	padding:50px;
}
.main6 img{
width:380px;}
.main6{
	background:white;
	padding:50px;
}
.main7{
	background:#e4e4e4;
	padding:50px;
}
.main8 img{
width:380px;}
.main8{
	background:white;
	padding:50px;
}
.main9 h2{
	color:#ad2626;
	font-size:48px;
	font-weight:normal
}
.main9{
	background:#e4e4e4;
	padding:50px;
}
.textblock2{
	position:absolute;
	top:20px;
	left:150px;
	width:400px;
}
.table{
	width:700px;
	padding-top:100px;
}
.main10{
	background:url('images/bg2.jpg');
	background-size:cover;
	/* масштабирует изобр. по оси х и у */
	background-repeat:no-repeat;
	/* не дублирует картинку */
	min-height:350px;
	text-align:center;
	color:white;
}
.main10 h2{
	padding:100px 20px 20px 20px;
	font-size:36px;
}
.money{
	background:#58cdda;
	padding:10px;
	font-size:24px;
	color:#353131;
	box-shadow:0 0 15px rgba(4, 4, 4, 0.7);
	/* box-shadow:0 5px 0 5px red; */
	/* добавляем тень и указываем ее цвет и прозрачность */
	text-shadow:1px 1px 10px white;
	border-radius:5px;
	margin-top:20px;
	border:2px inset white;
}
.money:hover{
	border:2px outset white;
	background::#353131;
}
.icon3{
	display:inline-block;
	width:200px;
	padding-top:30px;
	margin:0 30px;
	font-style:italic;
	font-size:14px;
}
.icon4{
	display:inline-block;
	width:200px;
	padding-top:30px;
	margin:0 30px 30px 30px;
	font-style:italic;
	font-size:14px;
}
.icon4 img{
	width:50px;
}
.icon4 p{
	color:#0c5494;
	text-align:center;
	font-style:normal; /* делем курсив */
	font-size:14px;
	
}
.main10 p{
	padding:20px;
}
